// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font: 'Inter', 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Title font family
/// @type List
$title-font: 'Lexend', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Open Sans', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font: 'Hack', 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

// -----------------------------------------------------------------------------
// Color theme
// -----------------------------------------------------------------------------

// Color declaration

// using https://chir.ag/projects/name-that-color/
// Light theme colors
$electric-violet: hsl(270, 80%, 50%);
$scarlet: hsl(8, 100%, 50%);
$alabaster: hsl(0, 0%, 98%);
$dazzle-pink-shaded: hsla(300, 100%, 60%, 0.10);
$wild-sand: hsl(0, 0%, 96%);
$gray: hsl(0, 0%, 50%);
$scorpion: hsl(330, 0%, 40%);
$tundora: hsl(0, 0%, 25%);
$cod-gray: hsl(0, 0%, 10%);


// Theme declaration

/// Text color
/// @type Color
$text-color: $cod-gray !default;

/// Main highlight color
/// @type Color
$highlight-color: $electric-violet !default;

/// Secondary highlight color
/// @type Color
$highlight-alt-color: $scarlet !default;

/// Light background
/// @type Color
$background-color: $alabaster !default;

/// Highlight background (code)
/// @type Color
$highlight-background-color: $dazzle-pink-shaded !default;

/// Light grey
/// @type Color
$background-sub-color: $wild-sand !default;

/// Grey shadow
/// @type Color
$shadow-color: $gray !default;

/// Medium grey shadow
/// @type Color
$shadow-dark-color: $scorpion !default;

/// Dark grey shadow
/// @type Color
$shadow-darker-color: $tundora !default;


/// Container's maximum width
/// @type Length
$max-width: 650px !default;

/// Container's alternative width
/// @type Length
$large-width: 800px;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': (max-width: 320px),
  'medium': (max-width: 768px),
  'large': (max-width: 1024px),
) !default;


/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: '/assets/' !default;


/// External icon SVG
/// @type Image
$icon-external-link: url("../img/svg/external-link.svg");

/// Gemini icon SVG
/// @type Image
$icon-gemini-link: url("../img/svg/gemini-grey.svg");

/// TOR icon SVG
/// @type Image
$icon-tor-link: url("../img/svg/tor-grey.svg");