/**
 * Styles for the anchor links
 * https://codepen.io/thierry/pen/qBqYmgw
 */

h1,h2,h3,h4,h5{
  &:hover{
    margin-left: -1em;
    padding-left: 1em;

    @include respond-to('medium'){
      margin-left: 0;
      padding-left: 0;
    }
  }

  .header-anchor{
    text-decoration: none;
    color: $text-color;

    &:hover {
      // text-decoration: underline;
      text-decoration: none;
      // pointer-events: none;
      color: $text-color;
    }

    &::before{
      content: "#";
      float: left;
      padding: 0 .15em; /* to make the "#" a bigger target */
      margin-left: -1em;
      pointer-events: auto;
      color: $highlight-color;
      // color: #1779ba;
      display: none;
    }

    @include respond-to('medium'){
      &::after{
        content: "#";
        // float: right;
        padding: 0 .15em; /* to make the "#" a bigger target */
        margin-left: 0;
        pointer-events: auto;
        color: $highlight-color;
        // color: #1779ba;
        display: none;
      }
    }
  }

  &:hover .header-anchor:before{
    display: block;
    text-decoration: underline; 
    @include respond-to('medium'){
      display: none;
    }
  }
  &:hover .header-anchor:after{
    text-decoration: underline; 
    @include respond-to('medium'){
      display: inline;
    }
  }
}
