// -----------------------------------------------------------------------------
// This file contains all styles related to the links 
// -----------------------------------------------------------------------------

/**
 * Basic styles for links
 */
a {
    color: $highlight-color;
    text-decoration: none;

    @include on-event {
    color: $highlight-color;
    text-decoration: underline;
    }
}

/**
* Styling of external links
*/
a[href^="http"]:not(.img-link, .licence-link, [href*="yazae101.codeberg.page"], [href*=".onion"])::after{
    content: '';
    background: no-repeat left .25em center $icon-external-link;
    padding-right: 1em;
    
    // .external-link {
    //   stroke: red;
    // }
}

/**
* Styling of gemini links
*/
a[href^="gemini"]::after {
    content: '';
    background: no-repeat left .25em center $icon-gemini-link;
    padding-right: 1em;
}

/**
* Styling of onion links
*/
a[href*=".onion"]::after {
    content: '';
    background: no-repeat left .25em center $icon-tor-link;
    padding-right: 1em;
}

// /**
// * Styling of other yazae links
// */
// a[href*="git.yazae"]:not(.img-link, .licence-link)::after {
//   content: '';
//   background: no-repeat left .25em center $icon-external-link;
//   padding-right: 1em;
// }