table{
  border-collapse: collapse;
  width: 100%;
}

// YOU CAN CHOSE BETWEEN 1 OR 2
// I have chosen 1 for lightening the theme

// 1- to have a first and last line

thead tr:first-child{
  border-bottom: 1px solid $shadow-color;
}
tbody{
  tr:last-child{
    border-bottom: 1px solid $shadow-color;
  }
}

// 2- to have lines everywhere
// thead tr, tbody tr{
//   border-bottom: 1px solid $shadow-color;
// }

// to have a background between lines of a table
tr:nth-child(2n-1):not(thead tr:first-child){
  background-color: shade($background-color, 8%) ;
}