<!DOCTYPE html>
{%- if lang -%}
  <html lang="{{ lang }}" dir="ltr">
{%- else -%}
  <html lang="fr" dir="ltr">
{%- endif -%}
<head>
  {%- include 'head.html' -%}
</head>
<body>
  {%- include 'header.html' -%}
  <main id="main" class="container{% if title == 'Notes' %} notes{% endif %}">
    {{ content }}
  </main>
  {%- include 'aside.html' -%}
  {%- include 'footer.html' -%}
</body>
</html>
