<div class="feedDiv">
  <ul class="notefeed">
    {%- for note in pageFeed -%}
    <li class="notefeed-note" {%- if note.data.lang != nil -%} lang="{{- note.data.lang -}}"{%- endif -%}>
      <a href="{{ note.url }}">
        <span class="false-title">{{ note.data.title }}</span>
        <div class="notefeed-date">{{ note.data.date | date: "%d-%m-%Y" }}</div>
        {%- if note.data.description != nil -%}
          {{- note.data.description | markdownify -}}
        {%- endif -%}
      </a>
    </li>
    {%- endfor -%}
  </ul>
</div>
{%- include 'pagination.html' -%}