<footer class="page-footer">
    {%- if page.url == "/" -%}
      <small>
        <a href="/feed.xml">Feed</a><span> - </span>
        {{- site.title -}} {{- edit | date: "%Y" -}} - Copyleft 
        <a class="licence-link" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.fr">
          CC BY-NC-SA
        </a>
         ∨ 
        <a class="licence-link" href="https://codeberg.org/yazae101/HotChocolateLicense/src/branch/main/LICENSE.md">
          Hot Chocolate Licence
        </a>
      </small>
    {%- else -%}
      <small>
        <a href="/feed.xml">Feed</a><span> - </span>
        {{- site.title -}} {{- edit | date: "%Y" -}} - Copyleft 
        <a class="licence-link" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.fr">
          CC BY-NC-SA
        </a>
         ∨ 
        <a class="licence-link" href="https://codeberg.org/yazae101/HotChocolateLicense/src/branch/main/LICENSE.md">
          HCL
        </a>
      </small>
    {%- endif -%}
</footer>