<!-- To include in a nav? -->
<ul class="notefeed">
  {%- for notes in collections.notes -%}
    {%- if notes.data.notetype != "unfeed" -%}
        <li class="notefeed-note" {%- if notes.data.lang != nil -%} lang="{{- notes.data.lang -}}"{%- endif -%}>
          <a href="{{ notes.page.url }}">
            <span class="false-title">{{ notes.data.title }}</span>
            {%- if notes.data.description != nil -%}
              {{- notes.data.description | markdownify -}}
            {%- endif -%}
          </a>
        </li>
    {%- endif -%}
  {%- endfor -%}
</ul>